@media screen and (min-width: 768px) {

    #menu {
        display: none;
    }

    .navigation {
        flex-direction: row;
        justify-content: flex-end;
    }

    .navigation a {
        display: block;
    }

    #members.grid {
        grid-template-columns: repeat(3, 1fr);
    }
        .home-grid {
            grid-template-columns: repeat(2, 1fr);
        }
    
        #spotlight-container {
            grid-template-columns: repeat(3, 1fr);
        }
    
        .hero-text h1 {
            font-size: 3rem;
            max-width: 500px;
        }

    footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}